@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Agri-Energy Connect</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ST10254164_LukeC_GR2_PROG7311_A2.styles.css" asp-append-version="true" />
</head>
<body>
    <!-- Background video -->
    <video autoplay loop muted class="background-clip">
        <source src="~/background/green-field.3840x2160.mp4" type="video/mp4" />
    </video>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Agri-Energy Connect</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <ul class="navbar-nav">
                @if (HttpContextAccessor.HttpContext.Session.GetString("Role") == "farmer")
                {

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Farmer" asp-action="farmerDashboard">Farmer Dashboard</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Farmer" asp-action="addProductView">Add Product</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Farmer" asp-action="viewProducts">View Products</a>
                    </li>

                }
                else if (HttpContextAccessor.HttpContext.Session.GetString("Role") == "employee")
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Employee" asp-action="employeeDashboard">Employee Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Employee" asp-action="addFarmerView">Add Farmer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Employee" asp-action="viewAllProducts">View Products</a>
                        </li>
                }
                    </ul>
                     @if (HttpContextAccessor.HttpContext.Session.GetString("User") != null)
                    {
                        <div class="d-flex align-items-center">
                            <span class="me-2 text-muted">Welcome, @HttpContextAccessor.HttpContext.Session.GetString("User")</span>
                            <form asp-controller="account" asp-action="logout" method="post" class="d-inline">
                                <button type="submit" class="btn-dark border-light">Logout</button>
                            </form>
                        </div>
                        }
                </div>
            
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
