
    <div class="view-container">
        <h2>Login</h2>


        <form action="loginView" method="post">
            <div class="log in">
            <label for="username">Username:</label>
            <input name="username" class="form-control" required />
                <div class="invalid-feedback">Please enter a valid username</div>
            </div>
            <div class="password">
                <label for="Password" class="form-label">Password</label>
                <input id="Password" name="Password" class="form-control" type="password" required />
                <div class="invalid-feedback">Password is required</div>
            </div>
            <div class="submit button">
                <button type="submit" class="btn btn-primary btn-custom">login</button> <!--once button is clicked, depending on the data they are either a farmer or employee-->
            </div>
        </form>
    </div>
