
    <div class="view-container">
        <h2>Add New Farmer</h2>
        <form action="addFarmerView" method="post">
            <div class="mb-3">
                <label for="Name" class="form-label">Name</label>
                <input id="Name" name="Name" class="form-control" required />
                <div class="invalid-feedback">Name is required.</div>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="submit" class="btn btn-success btn-custom">Add Farmer</button>
            </div>
        </form>
    </div>