
    <div class="header">
        <h2>Add New Farmer</h2>

        <form action="addFarmerView" method="post">
      
            <div class="name">
                <label for="farmerName" class="form-label">farmer name</label>
                <input id="farmerName" name="farmerName" class="form-control" required />
                <div class="invalid-feedback">farmer name is required.</div>
            </div>
            <div class="Email">
                <label for="Email" class="form-label">Email</label>
                <input id="Email" name="Email" class="form-control" required />
                <div class="invalid-feedback">Email is required.</div>
            </div>
            <div class="password">
                <label for="Password" class="form-label">Password</label>
                <input id="Password" name="Password" class="form-control" type="password" required />
                <div class="invalid-feedback">Password is required.</div>
            </div>

            <div class="submit-button">
                <button type="submit" class="btn btn-success btn-custom">Add Farmer</button>
            </div>
        </form>
    </div>
