@{
    ViewData["Title"] = "Employee Dashboard";
}
   

    <div class="dashboard-container">
        <h1 class="text-center mb-4">Employee Dashboard</h1>
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card green">
                    <div class="card-body">
                        <h3 class="card-title">Add New Farmer</h3>
                        <p class="card-text">Register new farmers to the system</p>
                        <a asp-controller="employee" asp-action="addFarmerView" class="btn btn-primary">Add Farmer</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card blue">
                    <div class="card-body">
                        <h3 class="card-title">Manage Products</h3>
                        <p class="card-text">View and filter all farmer products</p>
                        <a asp-controller="employee" asp-action="viewAllProducts" class="btn btn-primary">View Products</a> <!-- view for the employee to see all products on the system-->
                    </div>
                </div>
            </div>
        </div>
    </div>
