@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <!-- Background video -->
    <video controls="controls">
        <source src="~/background/green-field.3840x2160.mp4" type="video/mp4" />
    </video>


        <h2 className="Welcome">Welcome to Agri-Energy Connect</h2>

        < className="Renewable energy">
                    <h3 className="font-bold">Renewable Energy</h3>
v>
                <p className="text-sm">Access sustainable energy solutions for your farm</p>
>
                    <h3 className="font-bold">Training Resources</h3>

                <p className="text-sm">Learn about sustainable farming practices</p>

                    <h3 className="font-bold">Community</h3>

                <p className="text-sm">Connect with other farmers and energy experts</p>

                </div>