@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<video autoplay loop muted class="background-clip">
    <source src="~/background/green-field.3840x2160.mp4" type="video/mp4" />
</video>
<p>Use this page to detail your site's privacy policy.</p>
