@model ST10254164_LukeC_GR2_PROG7311_A2.Models.farmerDashboardModel  

<h2>Add product</h2>  

<section id="add-product" class="mb-5">  
    <form asp-controller="Product" asp-action="addProductView" method="post" autocomplete="off">
        @Html.AntiForgeryToken()  
        <div asp-validation-summary="All" class="alert alert-danger"></div>  
        <div class="mb-3">  
            <label for="NewProduct_Name" class="form-label">@Html.DisplayNameFor(m => m.NewProduct.Name)</label>  
            <input id="NewProduct_Name" asp-for="NewProduct.Name" class="form-control" />  
            <span asp-validation-for="NewProduct.Name" class="text-danger"></span>  
        </div>  
        <div class="mb-3">  
            <label for="NewProduct_Category" class="form-label">@Html.DisplayNameFor(m => m.NewProduct.Category)</label>  
            <input id="NewProduct_Category" asp-for="NewProduct.Category" class="form-control" />  
            <span asp-validation-for="NewProduct.Category" class="text-danger"></span>  
        </div>  
        <div class="mb-3">  
            <label for="NewProduct_ProductionDate" class="form-label">@Html.DisplayNameFor(m => m.NewProduct.ProductionDate)</label>  
            <input id="NewProduct_ProductionDate" asp-for="NewProduct.ProductionDate" type="date" class="form-control" />  
            <span asp-validation-for="NewProduct.ProductionDate" class="text-danger"></span>  
        </div>  
        <button type="submit" class="btn btn-primary">Add Product</button>  
    </form>  
</section>  
